@import url(./reset.css);
* {
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

.header {
    border-bottom: 1px solid rgb(245, 245, 245);
}

.header_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 5%;
}

.header_menu a>i {
    font-size: 26px;
}

.burgers {
    width: 20px;
    height: 3px;
    margin: 4px;
    background-color: black;
}

.bell {
    position: relative;
}

.bell_notice {
    position: absolute;
    background-color: rgba(199, 56, 20, 0.794);
    border-radius: 50%;
    width: 1.1rem;
    height: 1.1rem;
    font-size: 1rem;
    color: white;
    text-align: center;
    top: -0.7rem;
    right: -0.7rem;
}

.backimage {
    margin: 2.7% 4% 22% 4%;
    /* border: 1px solid #1776f1; */
    height: 28vh;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: url('https://images.unsplash.com/photo-1596775218323-9b8276975108?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cG9oYW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60') no-repeat;
    background-position: bottom;
    background-size: cover;
    border-radius: 15px;
}

.profileimage {
    width: 250px;
    height: 250px;
    z-index: 10;
    position: absolute;
    top: 65%;
}

.profileimage>img {
    border: 5px solid white;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.personal_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5%;
    padding-bottom: 15%;
}

.menu {
    margin: 0 5% 5% 5%;
}

.menu>a {
    color: #525252;
}

.menu span {
    margin-left: 7px;
    font-size: 20px;
}

.name {
    font-size: 2.3rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, sans-serif;
    color: black;
    margin-top: 1rem;
}

.profile_message {
    font-size: 1.2rem;
    color: rgb(97, 97, 97);
    margin-top: 1rem;
}

.info {
    padding: 5%;
    padding-top: 10%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.2rem;
    background-color: #f8c9ca;
    border-top: 2px solid #f6b7b8;
}

.main_content {
    display: flex;
    flex-direction: column;
}

.main_question,
.main_answer {
    line-height: 1.4;
    max-width: 75%;
    margin-bottom: 5%;
}

.main_question {
    width: 100%;
    display: flex;
}

.main_question>p,
.main_answer {
    padding: 3%;
    border-radius: 10px;
}

.main_question>p {
    border: 3px solid #ffe552;
    background-color: #fdf0c4;
}

.question_q {
    margin-right: 4%;
}

.question_q>i {
    color: #e9494c;
}

.main_answer {
    border: 3px solid #a3b7d3;
    background-color: #c6e0ff;
    align-self: flex-end;
}

.btn_top {
    background-color: rgba(168, 169, 170, 0.7);
    width: 45px;
    height: 45px;
    text-align: center;
    padding-top: 7px;
    color: rgb(73, 73, 73);
    border-radius: 5px;
    position: fixed;
    right: 3%;
    bottom: 4%;
}

.bigScreen {
    display: none;
}

@media (min-width: 760px) and (max-width: 2140px) {
    .container {
        display: none;
    }
    .bigScreen {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1776f1;
        width: 100vw;
        height: 100vh;
    }
    .bigScreen_text {
        color: white;
        font-size: 32px;
        font-weight: 700;
    }
}